.custom-navbar {
  background: rgba(24, 22, 20, 0.25);
  backdrop-filter: blur(12px) saturate(140%);
  -webkit-backdrop-filter: blur(12px) saturate(140%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
  justify-content: center;
  border-radius: 16px;
  color: #fff;

}

.nav-link {
  margin-top: 8px;
}

.navbar-brand {
  color: white;
}


